.advantages {
    padding: 150px 0 20px 0;
    // .advantages__container

    &__container {
    }
    ._container-team {
        overflow: visible;
    }
    // .advantages__body

    &__body {
        padding: 0 20px;
        min-height: 100vh;

        h2 {
            @include adaptive-value("margin-bottom", 163, 60, 1);
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            font-style: normal;
            font-weight: 600;
            @include adaptive-value("font-size", 164, 34, 1);
            text-align: center;
            letter-spacing: 0.05em;
            color: #ffffff;
            pointer-events: none;
        }

        ol {
            display: grid;
            grid-template-columns: 2fr 2fr 1fr;
            column-gap: 10px;
            row-gap: 100px;
            height: 100%;

            @media (max-width: 1024px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            li {
                cursor: pointer;
                display: flex;
                align-items: end;
                justify-content: flex-start;
                white-space: nowrap;
                color: #ffffff;
                font-weight: 500;
                text-align: left;
                letter-spacing: 0.05em;
                font-style: normal;
                position: relative;

                @media (max-width: 1024px) {
                    width: 100%;
                }

                img {
                    @include adaptive-value("width", 357, 180, 1);
                    position: absolute;
                    object-fit: cover;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    z-index: -1;
                    visibility: hidden;
                    pointer-events: none;

                    @media (max-width: 768px) {
                        top: 30px;
                        transform: translateX(-50%) translateY(0);
                    }
                }
            }

            & > :nth-child(1) {
                @include adaptive-value("font-size", 52, 37, 1);
                line-height: 0.64;
            }

            & > :nth-child(2) {
                @include adaptive-value("font-size", 21, 15, 1);
                line-height: 0.26;

                @media (max-width: 1024px) {
                    justify-content: flex-end;
                }
            }
            & > :nth-child(3) {
                font-size: 40.4544px;
                @include adaptive-value("font-size", 40, 8, 1);
                line-height: 0.49;
                @media (max-width: 1024px) {
                    justify-content: center;
                }
            }
            & > :nth-child(4) {
                @include adaptive-value("font-size", 94, 21, 1);
                line-height: 1.15;
                padding-left: 100px;

                @media (min-width: 1024px) {
                    grid-column-start: 1;
                }
                @media (max-width: 1024px) {
                    justify-content: flex-end;
                }
            }
            & > :nth-child(5) {
                align-self: flex-start;
                text-align: right;
                justify-content: center;
                @include adaptive-value("font-size", 51, 20, 1);
                line-height: 0.63;
                padding-right: 100px;

                @media (min-width: 1024px) {
                    grid-column-start: 2;
                    grid-column-end: 4;
                }

                @media (max-width: 1024px) {
                    justify-content: flex-start;
                }
            }
            & > :nth-child(6) {
                align-items: flex-start;
                justify-content: center;
                @include adaptive-value("font-size", 32, 12, 1);
                line-height: 0.39;

                @media (min-width: 1024px) {
                    grid-row-start: 3;
                    grid-column-end: 4;
                }
                @media (max-width: 1024px) {
                    justify-content: center;
                }
            }
        }
    }
}