.map {
    // .map__container

    &__container {
        &._container-portfolio {
            overflow: visible;
        }
    }

    // .map__body

    &__body {
    }

    // .map__content

    &__content {
        position: relative;
        min-height: 100vh;

        h2 {
            position: absolute;
            top: 15%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            font-weight: 600;
            font-size: 66px;
            text-align: center;
            line-height: 1.2;
            color: #ffffff;
            pointer-events: none;

            @media (max-width: 992px) {
                top: 0;
            }

            @media (max-width: 425px) {
                font-size: 80px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;

            @media (max-width: 992px) {
                position: absolute;
                top: -100px;
            }
        }

        a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            animation: pulse 1.5s linear infinite;
            transform-origin: center;

            border: 7px solid rgba($color: #fff, $alpha: 0.7);
            width: 116px;
            height: 116px;

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            &:before {
                border-radius: 50%;
                content: "";
                display: block;
                width: 45%;
                height: 45%;
                border: inherit;
                border-color: #fff;
                transition: all 0.3s ease 0s;
            }

            @media (any-hover: hover) {
                &:hover {
                    &:before {
                        transform: scale(1.2);
                    }
                }
            }

            transform-origin: left top;
            @keyframes pulse {
                0% {
                    transform: scale(1) translate(-50%, -50%);
                }
                50% {
                    transform: scale(1.1) translate(-50%, -50%);
                }
                100% {
                    transform: scale(1) translate(-50%, -50%);
                }
            }
        }
    }

    &.map-page {
        h2 {
            @include adaptive-value("font-size", 214, 68, 1);
        }
    }
}
