.service-grid {
    margin-bottom: 100px;

    // .service-grid__container

    &__container {
    }

    // .service-grid__body

    &__body {
    }

    h2 {
        font-style: normal;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.05em;
        color: #ffffff;
        line-height: 1.2;
        @include adaptive-value("font-size", 50, 24, 1);
        margin-bottom: 1em;

        &[data-align="left"] {
            text-align: left;
        }

        &[data-size="117-22"] {
            @include adaptive-value("font-size", 117, 22, 1);

            @media (max-width: 374px) {
                font-size: 20px;
            }
        }
    }

    p,
    ol,
    li {
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: #ffffff;
        line-height: 1.2;
        @include adaptive-value("font-size", 16, 12, 1);
    }

    ol {
        margin-bottom: 1em;
        counter-reset: list;

        li {
            display: flex;
            counter-increment: list;

            &:before {
                display: block;
                width: 1em;
                flex: 0 0 1em;
                content: counter(list) ". ";
            }
        }
    }

    p {
        margin-bottom: 1em;
    }

    // .service-grid__grid

    &__grid {
        display: grid;
        grid-auto-rows: auto;
        gap: 20px;

        // .service-grid__grid-item

        &-item {
            display: flex;
            flex-direction: column;
            padding: 22px 19px;

            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0px 39px 40px -20px rgba(0, 0, 0, 0.15);
            border-radius: 18px;

            @media (max-width: 600px) {
                padding: 22px 20px 15px 20px;
            }

            h4 {
                font-style: normal;
                font-weight: 600;
                letter-spacing: 0.05em;
                color: #ffffff;
                line-height: 1.2;
                @include adaptive-value("font-size", 24, 16, 1);
                margin-bottom: 0.5em;

                &[data-align="center"] {
                    text-align: center;
                }
            }

            p {
                flex: 1 1 auto;
            }

            a {
                margin-left: auto;
                @include adaptive-value("margin-top", 77, 30, 1);

                &[data-margin="center"] {
                    margin-inline: auto !important;
                }

                @media (max-width: 600px) {
                    margin-right: auto;
                }
            }

            img {
                display: block;
                width: 100%;
                object-fit: cover;
                border-radius: 18px;
            }
        }
    }

    // .service-grid__three

    &__three {
        .service-grid__grid {
            grid-template-columns: repeat(3, 1fr);

            @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 600px) {
                grid-template-columns: 1fr;
            }
        }

        &.item-images {
            p {
                @include adaptive-value("margin-bottom", 60, 30, 1);
            }
            .service-grid__item {
                a {
                    @include adaptive-value("margin-top", 50, 30, 1);
                }
            }
        }
    }

    // .service-grid__areas

    &__areas {
        h2 {
            width: fit-content;
            max-width: 850x;
        }

        .service-grid__grid {
            @media (min-width: 1025px) {
                grid-template-columns: repeat(12, 1fr);
                grid-template-areas:
                    "a a a a a a b b b c c c"
                    "a a a a a a d d d e e e"
                    "f f f f g g g g h h h h";

                & > :first-child {
                    grid-area: a;
                }
                & > :nth-child(2) {
                    grid-area: b;

                    label {
                        left: 50%;
                    }
                }
                & > :nth-child(3) {
                    grid-area: c;

                    label {
                        right: 50px;
                    }
                }
                & > :nth-child(4) {
                    grid-area: d;

                    label {
                        left: 50%;
                    }
                }
                & > :nth-child(5) {
                    grid-area: e;

                    label {
                        right: 50px;
                    }
                }
                & > :nth-child(6) {
                    grid-area: f;

                    label {
                        left: 50px;
                    }
                }
                & > :nth-child(7) {
                    grid-area: g;

                    label {
                        left: 50px;
                    }
                }
                & > :nth-child(8) {
                    grid-area: h;

                    label {
                        right: 50px;
                    }
                }
            }

            & > :first-child {
                background-color: unset;
                box-shadow: none;
            }

            @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 600px) {
                & > :nth-child(2n) {
                    label {
                        @media (max-width: 600px) {
                            right: 0;
                            left: unset;
                            transform: translate(0, -60px);
                        }
                    }
                }
            }

            &-item {
                width: 100%;
                display: flex;
                flex-direction: column;
                position: relative;

                @media (max-width: 600px) {
                    padding: 20px 10px;
                }

                @media (max-width: 375px) {
                    padding: 18px 8px;
                }

                label {
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: 0.05em;
                    line-height: 1.2;
                    color: #ffffff;
                    background: rgba(255, 255, 255, 0.2);
                    box-shadow: 0px 39px 40px -20px rgba(0, 0, 0, 0.15);
                    backdrop-filter: blur(30px);
                    border-radius: 18px;
                    padding: 14px;

                    @include adaptive-value("font-size", 16, 10, 1);
                    @include adaptive-value("width", 512, 258, 1);

                    position: absolute;
                    top: 100px;
                    z-index: 1;

                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.4s ease 0s;

                    @media (max-width: 1024px) {
                        left: 50%;
                        transform: translate(-50%, 0);
                    }

                    @media (max-width: 600px) {
                        top: 100%;
                        left: 0;
                        transform: translate(0, -60px);
                        padding: 14px 12px;
                    }

                    &._active {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                h4 {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: flex-end;

                    @media (max-width: 600px) {
                        flex-direction: column;
                        align-items: center;
                        margin: 0;

                        span {
                            margin-bottom: 3em;
                        }
                    }
                }

                button {
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.2;
                    letter-spacing: 0.05em;
                    color: #ffffff;
                    @include adaptive-value("font-size", 14, 10, 1);

                    @media (min-width: 601px) {
                        align-self: flex-end;
                        margin-bottom: 0.5em;
                    }

                    @media (max-width: 600px) {
                        margin-left: 0;
                    }
                }

                a {
                    max-width: 100%;
                    @include adaptive-value("font-size", 16, 10, 1);
                    @include adaptive-value("padding-inline", 45, 12, 1);

                    @include adaptive-value("margin-top", 86, 30, 1);

                    @media (max-width: 600px) {
                        margin-top: 10px !important;
                    }
                }
            }
        }
    }

    // .service-grid__two

    &__two {
        .service-grid__grid {
            grid-template-columns: repeat(2, 1fr);

            @media (max-width: 1024px) {
                grid-template-columns: 1fr;
            }

            &-item {
                @include adaptive-value("padding-top", 45, 25, 1);
                @include adaptive-value("padding-bottom", 45, 25, 1);
                @include adaptive-value("padding-inline", 40, 20, 1);
            }

            h4 {
                @include adaptive-value("font-size", 48, 20, 1);
                max-width: 65%;
                text-align: center;
                margin-inline: auto;
                margin-bottom: 3em;

                @media (max-width: 1024px) {
                    margin-bottom: 50px;
                    margin-inline: unset;
                    text-align: left;
                }

                @media (max-width: 600px) {
                    margin-bottom: 30px;
                }
            }
        }
    }

    // .service-grid__image

    &__image {
        .service-grid__grid {
            &-item {
                h4 {
                    margin-bottom: 20px;
                }

                img {
                    aspect-ratio: 1/0.615;
                }

                p {
                    @include adaptive-value("margin-bottom", 50, 20, 1);
                }

                a {
                    margin-inline: auto;
                    @include adaptive-value("margin-top", 40, 30, 1);
                }
            }
        }
    }

    // .service-grid__odd

    &__odd {
        .service-grid__grid {
            @media (max-width: 1024px) and (min-width: 601px) {
                & > :last-child {
                    grid-column: span 2;
                }
            }
        }
    }

    // .service-grid__four

    &__four {
        .service-grid__grid {
            grid-template-columns: repeat(4, 1fr);

            @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 600px) {
                grid-template-columns: 1fr;
            }

            h4 {
                @include adaptive-value("margin-bottom", 80, 30, 1);

                &._present {
                    background-image: url("@img/svg/present.svg");
                    background-position: center right;
                    background-size: 1em;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    &._tal {
        * {
            text-align: left !important;
        }
    }

    &.full-first {
        h4 {
            max-width: none;
            width: 100%;
            margin-bottom: 30px !important;
            @include adaptive-value("font-size", 24, 16, 1);
        }

        .service-grid__grid {
            @media (min-width: 601px) {
                grid-template-columns: repeat(2, 1fr);

                & > :first-child {
                    grid-column: span 2;
                }
            }
        }
    }

    &.item-alignend {
        .service-grid__grid-item {
            display: flex;
            flex-direction: column;

            h4 {
                flex: 1 1 auto;
            }

            p {
                flex: unset;
            }
        }
    }

    &.item-bigtitle {
        h4 {
            @include adaptive-value("font-size", 50, 24, 1);
        }
    }
}

.service-flex {
    margin-bottom: 100px;

    // .service-flex__container

    &__container {
    }

    // .service-flex__body

    &__body {
    }

    // .service-flex__flex

    &__flex {
        @media (min-width: 601px) {
            display: flex;
            justify-content: space-between;
        }
    }

    h2 {
        font-style: normal;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.05em;
        color: #ffffff;
        line-height: 1.2;
        text-align: left;

        @include adaptive-value("font-size", 117, 36, 1);
        margin-bottom: 0.5em;

        &[data-size="50-24"] {
            @include adaptive-value("font-size", 50, 24, 1);
        }
    }

    p,
    ol,
    li {
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: #ffffff;
        line-height: 1.2;
        @include adaptive-value("font-size", 16, 12, 1);
    }

    p {
        margin-bottom: 1em;
    }

    ol {
        margin-bottom: 1em;
        counter-reset: list;

        li {
            counter-increment: list;
            display: flex;

            &:before {
                display: block;
                width: 1em;
                flex: 0 0 1em;
                content: counter(list) ". ";
            }
        }
    }

    a {
        @include adaptive-value("margin-top", 50, 30, 1);

        @media (max-width: 600px) {
            margin-bottom: 30px;
        }

        &[data-position="center 1024"] {
            @media (max-width: 1024px) {
                margin-inline: auto !important;
            }
        }
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
        border-radius: 18px;
    }

    // .service-flex__content

    &__content {
        @media (min-width: 601px) {
            width: 53.25%;
        }
    }

    // .service-flex__images

    &__images {
        @media (min-width: 601px) {
            width: 41.25%;
        }
    }

    // .service-flex__absulute

    &__absulute {
        .service-flex__flex {
            @media (max-width: 1024px) and (min-width: 601px) {
                position: relative;
                padding-top: 130px;
            }
        }

        h2 {
            @media (max-width: 1024px) and (min-width: 601px) {
                position: absolute;
                left: 0;
                top: -30px;
            }
        }

        .service-flex__images {
            img {
                height: 100%;
            }
        }
    }

    // .service-flex__reverse

    &__reverse {
        .service-flex__flex {
            flex-direction: row-reverse;

            @media (max-width: 1024px) {
                display: block;
            }
        }

        .service-flex__content {
            @media (max-width: 1024px) {
                width: 100%;
            }
        }
    }

    // .service-flex__cross

    &__cross {
        .service-flex__images {
            position: relative;

            @media (max-width: 1024px) {
                width: 100%;
                display: flex;
                margin-bottom: 50px;
            }

            @media (max-width: 600px) {
                margin-bottom: 30px;
            }

            img {
                position: absolute;
                width: 58.835%;
                height: 66%;
                max-height: 504px;

                @media (max-width: 1024px) {
                    position: static;
                }
            }

            & > :first-child {
                bottom: 0;
                left: 0;
            }

            & > :last-child {
                right: 0;
                top: 0;

                @media (max-width: 1024px) {
                    margin-left: calc(-8.835% * 2);
                    margin-top: calc(8.835% * 2);
                }
            }
        }
    }

    // .service-flex__alignend

    &__alignend {
        .service-flex__content {
            @media (min-width: 1025px) {
                @include adaptive-value("padding-top", 50, 0, 1);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            @media (max-width: 1024px) {
                width: 100%;
            }
        }

        .service-flex__images {
            @media (max-width: 1024px) {
                margin-bottom: 50px;
                width: 100%;

                img {
                    aspect-ratio: 2/1;
                }
            }

            @media (max-width: 600px) {
                margin-bottom: 30px;

                img {
                    aspect-ratio: 2/1.2;
                }
            }
        }

        a {
            @media (max-width: 1024px) {
                margin-left: auto;
                margin-right: auto;
            }
        }

        &.service-flex__reverse {
            .service-flex__flex {
            }

            h2,
            p {
                @media (min-width: 1025px) {
                    text-align: right;
                }
            }

            a {
                margin-left: auto;
            }

            img {
                position: static;
                width: 100%;
                height: 100%;
                max-height: none;
            }
        }
    }

    // .service-flex__bigimage

    &__bigimage {
        .service-flex__flex {
            @media (max-width: 1024px) {
                display: flex;
                flex-direction: column-reverse;
            }
        }

        .service-flex__content {
            @media (min-width: 601px) {
                width: 41.25%;
                align-self: flex-end;
            }
            padding-top: 50px;

            @media (max-width: 1024px) {
                width: 100% !important;
            }

            @media (max-width: 600px) {
                padding-top: 30px;
            }
        }

        .service-flex__images {
            @media (min-width: 601px) {
                width: 53.25%;
            }

            @media (max-width: 1024px) {
                width: 100% !important;
            }

            img {
                aspect-ratio: 3/2;
            }
        }

        a {
            margin-left: auto;
            margin-right: auto;
        }
    }

    // .service-flex__bigtitle

    &__bigtitle {
        .service-flex__flex {
            @media (max-width: 1024px) {
                display: block;
            }
        }

        &.service-flex__reverse {
            h2 {
                text-align: right;
            }

            a {
                @media (min-width: 1025px) {
                    margin-left: auto;
                }
            }
        }

        .service-flex__content {
            @media (min-width: 1025px) {
                width: 35%;
                padding-top: 100px;
            }

            @media (max-width: 1024px) {
                width: 100%;
            }
        }

        .service-flex__images {
            @media (min-width: 1025px) {
                width: 58%;
            }

            @media (max-width: 1024px) {
                width: 100%;
            }

            img {
                margin-bottom: 30px;
            }
        }
    }

    // .service-flex__same

    &__same {
        .service-flex__images,
        .service-flex__content {
            @media (max-width: 1024px) {
                width: 100%;
            }
        }

        .service-flex__images {
            @media (max-width: 1024px) {
                margin-bottom: 30px;
            }
        }

        img {
            height: 100%;
        }
    }

    &._tar-1024 {
        @media (max-width: 1024px) {
            h2,
            p,
            h4,
            ol,
            li {
                text-align: right;
            }
        }
    }
}
